container_commands:
  01_copy_config_file_script:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\staging\\.ebextensions\\copy-cloud-watch-config-script.ps1
    ignoreErrors: false
    waitAfterCompletion: 10
  02_cw_excute_memory_script:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\staging\\.ebextensions\\cloud-watch-memory-script.ps1
    ignoreErrors: false
    waitAfterCompletion: 10